@import url("https://fonts.google.com/specimen/Space+Mono");
* {
  font-family: 'Space Mono', monospace;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background: #c5e4e7;
}

.fw700 {
  font-weight: 700;
}

.fill-width {
  width: 100% !important;
}

button,
.text-button {
  border: none;
  padding: 7px 23px;
  background: #00494d;
  color: #f4fafa;
  font-size: 18px;
  width: 80px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

button.active,
.text-button.active {
  background: #26c0ab;
  color: #00494d;
}

button.rounded,
.text-button.rounded {
  border-radius: 4px;
}

button.reset,
.text-button.reset {
  background: #26c0ab;
  color: #00494d;
}

button.reset:hover,
.text-button.reset:hover {
  background: #c5e4e7;
}

button.locked,
.text-button.locked {
  background: #5e7a7d;
}

button.locked:hover,
.text-button.locked:hover {
  background: #5e7a7d;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 12px;
  scale: 0.75;
}

input[type='text'] {
  width: 100%;
  padding: 4px 9px;
  margin-top: 2px;
  border-radius: 4px;
  text-align: end;
  font-size: 18px;
  background: whitesmoke;
  border: 2px solid #f4fafa;
  color: #00494d;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

input[type='text'].text-button {
  padding: 5px 10px;
  font-size: 18px;
  width: 80px;
}

input[type='text'].text-button:focus {
  background: #f4fafa;
  border: 2px solid #26c0ab;
  outline: none;
}

input[type='text']:focus {
  background: #f4fafa;
  border: 2px solid #26c0ab;
  outline: none;
}

input[type='text'].error {
  border: 2px solid #c47863 !important;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 70vh;
  height: auto;
  margin: auto;
  padding: 5rem 2rem;
}

.container > .title {
  padding-bottom: 5rem;
  font-size: 2rem;
}

.container .container__inner {
  width: auto;
  height: 100%;
  position: relative;
  border-radius: 20px;
  background: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .container__inner .container--form {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 1rem 1rem;
}

.container .container__inner .container--form label {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5e7a7d;
  font-weight: 700;
  font-size: 0.8rem;
}

.container .container__inner .container--form label .select__tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container__inner .container--form label .select__tip > * {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .container .container__inner .container--form label .select__tip {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .container__inner .container--form label .select__tip > * {
    width: calc(50% - 10px);
  }
}

.container .container__inner .container--form label > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container__inner .container--form label > p .status {
  color: #c47863;
}

.container .container__inner .container--preview {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background: #00494d;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__inner .container--preview label {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Price totals */
}

.container .container__inner .container--preview label > span {
  color: #26c0ab;
  font-size: 2.4rem;
}

.container .container__inner .container--preview label p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__inner .container--preview label p .subtext {
  opacity: 0.5;
  font-size: 0.8rem;
}

@media screen and (max-width: 384px) {
  .container .container__inner .container--preview label > span {
    font-size: 1.8rem;
  }
  .container .container__inner .container--preview label label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .container__inner .container--preview button {
  margin-top: 5rem;
}

@media screen and (max-width: 768px) {
  .container .container__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 384px) {
  .container {
    padding-inline: 0;
  }
}
/*# sourceMappingURL=main.css.map */